<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>IBMPlexMono-Bold.ttf</string>
		<string>IBMPlexMono-SemiBold.ttf</string>
		<string>IBMPlexMono-Medium.ttf</string>
		<string>IBMPlexMono-Light.ttf</string>
		<string>IBMPlexMono-ExtraLight.ttf</string>
		<string>IBMPlexMono-Regular.ttf</string>
	</array>
</dict>
</plist>
